<% provide :page_title, t('home.home.menu') %>

<% if user_signed_in? %>
  <h1 class="text-center m-5"><%= t('home.home.title_login') %></h1>
<% else %>
  <h1 class="text-center m-5"><%= t('home.home.title') %></h1>
<% end %>

